{% block head %}
<title>Tweets</title>
{% endblock%}

<div>
    <table border = "1" width = "100%">
        <caption>Team name</caption>

        <tbody>
            <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Total Tweets</th>
                <th>Average</th>
                <th>Sum Total</th>
            </tr> 
            {% for player in data %}
            <tr>
                <td>{{ player[0] }}</td>
                <td>{{ player[1] }}</td>
                <td>{{ player[2] }}</td>
                <td>{{ player[3] }}</td>
                <td>{{ player[2]*player[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
     </table>
    
</div>
