{%extends 'base.html' %}

{% block head %}
<title>TaskMaster</title>
{% endblock%}

{% block body %}
<div>
    <table border = "1" width = "100%">
        <thead>
           <tr>
              <td colspan = "5">Team name</td>
           </tr>
        </thead>
        
        <tbody>
            <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Total Tweets</th>
                <th>Average</th>
                <th>Sum Total</th>
            </tr>
            
        </tbody>
        
     </table>
</div>

{% endblock%}