{%extends 'base.html' %}

{% block head %}
<title>TaskMaster</title>
{% endblock%}

{% block body %}
<div>
    <table border = "1" width = "100%">
        <caption>Team name</caption>
        
        
        <tbody>
            <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Total Tweets</th>
                <th>Average</th>
                <th>Sum Total</th>
            </tr>
            {% for player in database %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            (%  %)
            
        </tbody>
        
     </table>
</div>

{% endblock%}